body {
  font-family: 'arial';
  margin: 0;
}

.container{
  width: 100%;
}

.menu-container{
  width: 18%;
  display: inline-block;
  padding: 2em;
  box-sizing: border-box;
}

.menu-container ul {
  list-style-type: none;
  padding-left: 0;
}

.game-container{
  width: 79%;
  display: inline-block;
}

.row {
  display: block;
  font-size: 0;
  width: 100%;
}

.tile {
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;
  position: relative;
  width: 24%;
  height: 200px;
}

.flipped {

}

.unflipped {
  background-image: none !important;
}
