body {
  background-color: #fff;
  color: #000;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
}

.menu-container{
  text-align: center;
}

.logo {
  display: block;
  width: 30%;
  margin: 0 auto;
}

.timer {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 300;
  padding-left: 1em;
  vertical-align: bottom;
}

.game-container{
  padding: 2em;
  box-sizing: border-box;
  width: 79%;
  display: inline-block;
}

.row {
  display: block;
  width: 100%;
}

.tile {
  display: inline-block;
  cursor: pointer;
  position: relative;
  height: 200px;
  margin-right: 4px;
  width: 24%;
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  background-size: cover;
}

.back {
  background-repeat: no-repeat;
  background-position: center;
}

.back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.tile.flipped .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.tile.flipped .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.hide {
  display: none;
}

.front img {
  width: 100%;
}

