body {
  font-family: 'arial';
  margin: 0;
}

.container{
  width: 100%;
  margin: 2em;
  box-sizing: border-box;
}

.menu-container{
  width: 18%;
  display: inline-block;
  padding: 2em;
  box-sizing: border-box;
  vertical-align: top;
}

.menu-container ul {
  list-style-type: none;
  padding-left: 0;
}

.game-container{
  width: 79%;
  display: inline-block;
}

.row {
  display: block;
  font-size: 0;
  width: 100%;
}

.tile {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 24%;
  height: 200px;
  border: 1px solid #ececec;

}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}

.back {
  background-repeat: no-repeat;
  background-position: center;
}

.back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.tile.flipped .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.tile.flipped .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.difficulty-selected {
  color: hotpink;
}

.theme-selected {
  color: hotpink;
}
